.navbar{
    animation: transitionIn 2s ease-in;
    animation-duration: 1s;
    
    animation-fill-mode: forwards;
}
@keyframes transitionIn{
    from {
        opacity: 0;
        transform: translateY(-40px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.carousel-item{
    animation: transitionIn 2s ease-in;
    animation-duration: 1s;
    
    animation-fill-mode: forwards; 
}
.icons{
    animation: transitionIn 2s ease-in;
    animation-duration: 1s;
    
    animation-fill-mode: forwards;
}
.style{
    animation: transitionIn 2s ease-in;
    animation-duration: 1s;
    
    animation-fill-mode: forwards;
}
.container{
    animation: transitionIn 2s ease-in;
    animation-duration: 1s;
    
    animation-fill-mode: forwards;
}


html{
    scroll-behavior: smooth;
}
.navbar-nav>.active>a {  
    color: rgb(32, 32, 32); 
} 
.navbar {
    
    z-index: 200;
    position: fixed;
    top: 0;
    width: 100%;
  }
.navbar-brand{
    padding-left: 20px;padding-right: 20px;
}
@media (max-width: 990px){
.navbar{
  
    background-color: rgba(55, 64, 85, 0.9);
}
}
@media (min-width: 990px){
    .navbar{
        background-color: rgba(55, 64, 85, 0.9);
    }
    }
    
.logo{
    width: 60px;height: 55px;
}

@media (max-width: 990px){
    .logo{
        width: 40px;
        height: 40px;

    }
}
@media (max-width: 990px){
    .navbar-brand{
      padding-top: 0px;padding-bottom: 0px;
        padding-left: 10px;padding-right: 0px;
    }
}
@media (min-width: 990px){
    .navbar{
height: 64px;
    } 
}
.icons{
    padding-bottom: 40px;
}

@media (min-width: 990px){
    .icons{
        padding: 0px 120px;
        padding-bottom: 40px;
    }
}
@media (max-width: 500px){
    .full{
        
        padding: 20px;
        padding-left: 30px;
        border: 2px solid rgb(255, 255, 255);
}
.style{
    padding: 10px 20px ;
}
.featurette-heading{
    font-family: Bower,Georgia,Times New Roman,serif;
    font-size: 2.25rem;
    color: black;
}
.lead{
    font-family: Bower,Georgia,Times New Roman,serif;
    font-size: 1rem;
    color: grey;
}
p {
    font-family: Bower,Georgia,Times New Roman,serif;
    margin-top: 0;
    margin-bottom: 1.5rem;
    color: #53585e;
}
.section-header {
    font-weight: 400;
    font-size: 2rem;
    letter-spacing: .075em;
    color: #000;
    
    border-top: 1px solid #000;
    padding-top: 1.5rem;
    padding-left: 0px;
}
}




@media (min-width: 500px){
.style{
    padding: 10px 80px ;
}
.full{
    padding: 40px;
    padding-left: 70px;
    border: 2px solid rgb(255, 255, 255);
    
}
.featurette-heading{
    padding-top: 35px;
    font-family: Bower,Georgia,Times New Roman,serif;
    font-size: 4rem;
    padding-bottom: 25px ;
    color: black;
    
}
.lead{
    font-family: Bower,Georgia,Times New Roman,serif;
    padding: 10px 0px;
    font-size: 1.2rem;
    color: #53585e;
}
p{
    font-family: Bower,Georgia,Times New Roman,serif;
    
    font-size: 1.2rem;
    color: #53585e;
}
.section-header {
    font-weight: 500;
    font-size: 2rem;
    letter-spacing: .0em;
    color: #000;
    
    border-top: 1px solid #000;
    padding-top: 1.5rem;
    padding-left: 0px;
}
}

h2{
    font-family: Bower,Georgia,Times New Roman,serif; 
    font-weight: 500; 
}
h4{
    font-family: Bower,Georgia,Times New Roman,serif; 
}

.full:hover{
    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card{
    border-color: rgb(255, 255, 255);
}

.card-img{
    padding-top: 20px;
    
}
.mb-3{
    cursor: pointer;
    font-family: Bower,Georgia,Times New Roman,serif;
    margin-bottom: 2rem!important;
}
.mb-3:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
@media (max-width: 767px){
#imp{
    padding-top: 0px;
}
}
@media (min-width: 768px){
    #imp{
        padding-top: 80px;
       
    }
    }
    @media (min-width: 1030px){
        #imp{
            padding-top: 0px;
            
        }
        }
        @media (max-width: 900px){
h3{
    padding-bottom: 60px;
    font-size: 1.5rem;
}
h1{
font-size: 3rem;
}
        }
 
        @media (min-width: 917px) {
            h3{
                padding-bottom: 110px;
                font-size: 2rem;
            }
            h1{
                font-size: 4rem;
                }
        } 

        @media (min-width: 1100px){
h3{
    padding-bottom: 290px;
    font-size: 2rem;
}
h1{
    font-size: 4rem;
    }

        }   

